In [5]:
import pandas as pd
import numpy as np

In [6]:
transaction_data = {
    'account_id': [1001, 1002, 1003, 1004, 1005,1005, 1004, 1005, 1005, 1003,1005, 1002, 1005, 1001, 1005,1005, 1004, 1005, 1005, 1005],
    'customer_name': ['Aarav', 'Tushar', 'Neha', 'Riya', 'Gautam','Gautam', 'Riya', 'Gautam', 'Gautam', 'Neha', 'Gautam', 'Tushar', 'Gautam', 'Aarav', 'Gautam',
                      'Gautam', 'Riya', 'Gautam', 'Gautam', 'Gautam'],
    'amount': [20000, 20000, 30000, 40000, 80000,120000, 45000, 130000, 150000, 30000,160000, 50000, 140000, 25000, 135000,60000, 50000, 70000, 125000, 110000],
    'transaction_date':(['2025-07-30']*20)
}
df = pd.DataFrame(transaction_data)
print(df)

    account_id customer_name  amount transaction_date
0         1001         Aarav   20000       2025-07-30
1         1002        Tushar   20000       2025-07-30
2         1003          Neha   30000       2025-07-30
3         1004          Riya   40000       2025-07-30
4         1005        Gautam   80000       2025-07-30
5         1005        Gautam  120000       2025-07-30
6         1004          Riya   45000       2025-07-30
7         1005        Gautam  130000       2025-07-30
8         1005        Gautam  150000       2025-07-30
9         1003          Neha   30000       2025-07-30
10        1005        Gautam  160000       2025-07-30
11        1002        Tushar   50000       2025-07-30
12        1005        Gautam  140000       2025-07-30
13        1001         Aarav   25000       2025-07-30
14        1005        Gautam  135000       2025-07-30
15        1005        Gautam   60000       2025-07-30
16        1004          Riya   50000       2025-07-30
17        1005        Gautam   70000       2025-07-30
18        1005        Gautam  125000       2025-07-30
19        1005        Gautam  110000       2025-07-30

In [7]:
transaction_group=df.groupby(['account_id','customer_name','transaction_date']).sum().reset_index()
print(transaction_group)

   account_id customer_name transaction_date   amount
0        1001         Aarav       2025-07-30    45000
1        1002        Tushar       2025-07-30    70000
2        1003          Neha       2025-07-30    60000
3        1004          Riya       2025-07-30   135000
4        1005        Gautam       2025-07-30  1280000

In [8]:
high_value_df = transaction_group[transaction_group['amount'] > 100000]
print(high_value_df)

   account_id customer_name transaction_date   amount
3        1004          Riya       2025-07-30   135000
4        1005        Gautam       2025-07-30  1280000

In [9]:
transactions=df.groupby('customer_name')['amount'].count()
print(transactions)

customer_name
Aarav      2
Gautam    11
Neha       2
Riya       3
Tushar     2
Name: amount, dtype: int64

In [10]:
fraud = transaction_group[transaction_group['customer_name'].map(transactions) > 10]

In [11]:
print("FRAUD DETECTION:\n")
print(fraud)

FRAUD DETECTION:

   account_id customer_name transaction_date   amount
4        1005        Gautam       2025-07-30  1280000

In [12]:
for index, row in fraud.iterrows():
    print(f"Person with ID {row['account_id']}, name {row['customer_name']}, "
          f"amount ₹{row['amount']}, date {row['transaction_date']} has been suspected as fraud.")

Person with ID 1005, name Gautam, amount ₹1280000, date 2025-07-30 has been suspected as fraud.

In [13]:
print("Thank YOU")

Thank YOU